/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



// footer 置底
html {
height: 100%;
}
body {
min-height: 100%;
margin-bottom: 0;
padding: 0;
position : relative;
background-color: #fdeada;
font-size: 13px;
}

.main {     // 把application的
padding-top: 1px; //跟navbar同高
padding-bottom: 100px; //跟footer 同高 或大于
}

footer {
position:absolute;
bottom:0;
width:100%;
height:51px;
padding-top: 6px;
font-size: 12px;
}

// footer 置底 完成
.home-index {   // 把整个表格的背景色改成白色
  background-color: white;
}

.index-head {   // 让文章列表的头部，出现阴影
  background-color: #f0e5cf;
  box-shadow: 0px -2px 1px #888888;
}

.content-blog {   // 设置博客的正文内边距，让博客内容看起来上下左右协调
  padding: 25px;
}

.space-margin {   // show.html.erb , 为了让评论和文章内容之间留空
  height:15px;
}

.index-head-1 {   // 首页左边的主目录抬头
  background-color: #f0e5cf;
  box-shadow: 0px -2px 1px #888888;
  padding: 14px 18px 28px 18px ;
  margin-bottom: 5px;  // 让目录栏和下面位置有空隙
}

.category-index {  // 把分类前的小实心圆去掉，文字居中
list-style-type: none;
float: left;  // 让li标签横排
}

.search-navbar {   // 调整搜索栏的大小，位置
  width: 267px;
    padding-top: 6px;
    padding-left: 24px;
    margin-left: 257px;
}

body {
  background-image: url(msu.jpg);
  background-repeat: no-repeat;
  opacity: 0.95;
}
