<div class="col-md-12 home-index content-blog">
  <img src="assets/crescent spring-60.jpg" width="400">
  <br><br>
  <p>俄语老杜，俄语爱好者一枚。出生在湖北省仙桃，在甘肃省敦煌长大，2008年毕业于延边大学（说明：延边大学不在延安的边上，在东北延边朝鲜族自治州首府延吉）俄语系，毕业后一直在独联体地区晃悠：先是在白俄罗斯，然后在哈萨克斯坦，之后在塔吉克斯坦的一家中塔合资资企业做物流相关的工作。目前在武汉。</p>

          <p>俄语对我来说，有着特殊的感情：大学四年是人生中最美好的时光，很多事情都和俄语有关；通过俄语，结识了很多人不错的朋友；使用俄语，找到了一份糊口的工作。</p>


         <p>现在俄语虽然还没有达到完全自由的水平，但是一直在努力，相信自己一定能够达到自由的水平。</p>


         <p>目前在一边工作，一边提高自己的俄语水平，想让自己的俄语达到自己满意的水平。同时，想做些方便大伙学习、提高俄语的事情。</p>
         <p>我的电子邮箱： 122517637@qq.com.    期待与喜爱俄语的您认识、交流！</p>
</div>
